.side-bar{
    width: 250px;
    background-color:#282c34 ;
    color: white;
    padding: 20px;

}
.side-bar h1{
    margin-bottom: 20px;
}
.side-bar ul{
    list-style-type: none;
    padding: 0;
}
.side-bar ul li{
    margin: 10px 0;
}
.side-bar ul li a{
    color: white;
    text-decoration: none;
}
.user{
    margin-top: 20px;
}